body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.btn{
    /* margin-left: 200px; */
    margin-top: 100px;
    height: 20px;
    width: 60px;
    background-color: white;
    border:2px solid black;
    border-radius: 10px;
    padding: 0;
    
}
.toggle-btn{
   height: 20px;
   width: 20px;
   cursor: pointer;
   border-radius: 10px;
   background-color: black;
   transition: all 0.3s ease-in-out;
}
.dark-mode {
    background-color: black;
    color: white;
  }
  .white-mode {
    background-color: white;
    color: black;
  }
  h1 {
    /* font-size: 5rem; */
    margin: 100px auto;
    text-align: center;
}
/* #toggle {
    background-color: white;
    width: 140px;
    height: 40px;
    border-radius: 20px;
    border: 2px solid black;
    margin: 50px auto;
    cursor: pointer;
}

#circle {
    width: 38px;
    height: 38px;
    background-color: black;
    border-radius: 50%;
    margin-top: 1px;
    transition-duration: 1s;
    margin-left: 1px;
}

h1 {
    font-size: 5rem;
    margin: 100px auto;
    text-align: center;
}

.color-white {
    color: white;
}

.bck-color-black {
    background-color: black;
} */